{erl_opts, [debug_info]}.

{profiles, [{test, [{deps, [proper]},
                    {plugins, [{rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.1"}}}]},
                    {src_dirs, ["src", "test"]}]},
            {dialyzer, []}]}.

{alias, [
         {check, [dialyzer, edoc,
                  {proper, "--regressions"},
                  {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
        ]}.

